body {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-row: 100vh;
  grid-template-areas:
  "nav main";
}

/* NAVIGATION AREA */
nav {
  /* border: 2px solid red; */
  grid-area: nav;
}

.nav-image-elephant {
  height: auto;
  width: 50%;
  padding-left: 25%;
  padding-top: 10%;
}

nav ul li {
  list-style: none;
}

.nav-ul-icons {
  height: auto;
  padding-top: 175%;
  width: 30%;
}

/* MAIN DISPLAY AREA */

main {
  background:  #F5F5F5;
  /* border: 10px solid purple; */
  grid-area: main;
}
